.container {
    max-width: 1200px;
    margin: 0 auto;
}

.body-index {
    background-color: rgb(27, 27, 35);
    font-family: "Comfortaa", sans-serif;
    background-image: url(../images/фон.png);
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    color: aliceblue;
}

h2 {
    font-family: 'Russo One';
    font-weight: 200;
    font-size: 40px;
}

table {
    font-weight: 200px;
    background-color: rgb(6, 8, 10);
    max-width: 700px;
}

.nav-elements {
    max-width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Russo One';
}

.header-nav {
    height: 80px;
}

.header-nav-links {
    font-size: 16px;
    text-decoration: none;
    color: rgb(165, 175, 215);
}

.main-section-slogan {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.element-section-slogan {
    max-width: 45%;
}

.main-section-program {
    height: 350px;
}

.slogan-text {
    margin-top: 100px;
    color: rgb(165, 175, 215);
    font-weight: 100;
    opacity: 0.8;
    animation: myAnimation 5s infinite;
}

@keyframes myAnimation {
    from {
        color: rgb(165, 175, 215);
        font-weight: 100;
        opacity: 0.8;
    }

    to {
        color: rgb(17, 54, 88);
        font-weight: 100;
        opacity: 0.8;
    }
}

.logo-text {
    font-family: 'Russo One';
    font-weight: 250;
    font-size: 80px;
    margin-top: -20px;
    color: aliceblue;
}

.text-section-program {
    font-weight: 100;
    width: 600px;
    font-size: 18px;
}

.adout-program-headline {
    font-size: 40px;
}

.about-program-reviews {
    justify-content: flex-end;
}

.main-price-section {
    display: flex;
    align-items: center;
    margin-bottom: 100px;
    font-weight: 200;
    flex-wrap: wrap;
}

.footer-elements {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    opacity: 0.4
}

.social-media {
    display: flex;
    list-style-type: none;
}

hr {
    opacity: 0.1;
}

.social-link {
    margin-left: 55px;
}



.body-pages {
    background-image: url(../images/фон\ для\ pages.png);
    font-family: "Comfortaa", sans-serif;
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    color: aliceblue;
}

.main-section-tours {
    height: 400px;
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.tours-headline {
    font-size: 120px;
    opacity: 0.7;
    color: rgb(48, 84, 134);
}

.main-tours-headline {
    max-width: 40%;
}

.tours-text {
    opacity: 0.9;
    max-width: 400px;
    text-align: center;
}

.basic-tour-text {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
}

.basic-tour-element {
    width: 500px;
    list-style-type: none;
}

.list-tours {
    list-style-type: none;
}





.main-requests-headline {
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.requests-headline {
    font-size: 65px;
    opacity: 0.7;
    color: rgb(48, 84, 134);
    font-family: 'Russo One';
    font-weight: 200;

}

.form-requests {
    margin-top: 50px;
    margin-bottom: 50px;
}

.requests-text {
    width: 500px;
    font-size: 16px;
    margin-left: 30px;
}

.form-requests {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
}






form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

input,
select {
    width: 200px;
    padding: 10px;
    margin: 0 0 10px;
    border: 1px solid #131125;
    border-radius: 5px;
}

.submit-buttom {
    height: 50px;
    background-color: rgb(143, 182, 255);
}

button {
    width: 150px;
    padding: 10px;
    margin: 0 0 10px;
    background-color: #5180b6;
    border: 1px;
    border-radius: 25px;
}

.reserv-button {
    text-decoration: none;
    color: rgb(223, 232, 250);
}

.reserv-button:hover {
    text-decoration: underline;
    transition-duration: 0.3s;
}






html {
    scroll-behavior: smooth;
}

.up-to-navigation {
    display: flex;
    justify-content: end;
    opacity: 0.6;
}



.headline-reviews {
    height: 400px;
    display: flex;
    align-items: center;
}

.main-reviews-headline {
    font-size: 120px;
    color: rgb(48, 84, 134);
    opacity: 0.7;
}


.main-reviews {
    display: flex;
    gap: 50px;
    align-items: center;
    flex-wrap: wrap;
}

.reviews-photo {
    border-radius: 30px;
    width: 600px;
}
iframe{
    width: 600px;
    height: 350px;
}

.main-reviews-element p {
    opacity: 0.8;
    max-width: 400px;
}

.reviews-rating {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.reviews-main-section-element {
    gap: 50px;
}

.index-links {
    text-decoration: none;
    color: rgb(63, 85, 105);
}

.index-links:hover {
    text-decoration: underline;
    background-color: rgb(73, 112, 128);
    padding: 10px;
    border-radius: 20px;
    color: aliceblue;
    transition-duration: 0.3s;
}

.header-nav-links:hover {
    font-size: 17px;
    transition-duration: 0.3s;
    text-decoration: underline;
}






@media screen and (max-width: 992px) {
    .main-reviews-element p {
    opacity: 0.8;
    max-width: 700px;
}
}

@media screen and (max-width: 768px) {
    .header-nav-links {
        font-size: 12px;
    }

    .tours-headline {
        font-size: 90px;
    }

    .tours-text {
        font-size: 12px;
    }

    .main-reviews-headline {
        font-size: 70px;
    }

    .reviews-headline-elements {
        font-size: 14px;
    }
    .text-section-program{
        font-size: 16px;
    }
}

@media screen and (max-width: 576px) {
    .tours-headline {
        font-size: 70px;
    }

    .tours-text {
        font-size: 14px;
    }

    .main-tours-headline {
        max-height: 80px;
    }

    .main-reviews-headline {
        font-size: 50px;
    }

    .reviews-headline-elements {
        font-size: 10px;
    }

    .requests-headline {
        font-size: 45px;
    }

    table {
        max-width: 600px;
        font-size: 12px;
    }
    .table-image{
        width: 500px;
    }
    .text-section-program{
        font-size: 14px;
        max-width: 500px;
    }
    .main-reviews-element{
        font-size: 14px;
    }
    .reviews-photo{
        width: 500px;
    }
    .basic-tour-element{
        font-size: 13px;
    }
}

@media screen and (max-width: 379px) {
    .header-nav-links {
        font-size: 10px;
    }

    .main-reviews-headline {
        font-size: 40px;
    }

    .reviews-headline-elements {
        font-size: 8px;
    }
     table {
        max-width: 400px;
        font-size: 10px;
    }
    .table-image{
        width: 375px;
    }
    h2{
        font-size: 30px;
    }
    .main-reviews-element{
        font-size: 12px;
    }
    .reviews-photo{
        width: 350px;
    }
    .text-section-program{
        font-size: 12px;
        max-width: 300px;}
}